@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-black-10: #000000;
  --color-black-20: #222222;

  --color-white-10: #ffffff;
  --color-white-20: #E6E6E6;

  --color-primary: #E0FF22;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.button {
  width: 40px;
  min-width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid var(--color-black-10);
  background-color: var(--color-primary);
  cursor: pointer;
}

.button:after {
  display: block;
  content: '';
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--icon > img {
  width: 18px;
}

.button--secondary {
  color: var(--color-black-10);
  background-color: var(--color-white-20);
}

.button--alt {
  border-color: var(--color-primary);
  background-color: var(--color-black-10);
  color: var(--color-white-10);
}
